section#main.page.page-0.js-page.is-show
    .container.container_page-0.js-parallax-page-0
        .content.content__left
            a.logo(href="https://novex.ru" target="_blank") Novex
                span.logo-en

            .page-0__text
                .page-0__date 2-29 декабря
                h3.title.page-0__title Выиграй
                    br 
                    .amount
                        |50 000
                        .currency 
                            |рублей

                a(href='#register').button.button-red.js-scroll-link Зарегистрировать код
            .mouse
                .mouse__roller

        .content.content__right
