section#prizes.page.page-1.js-page
    .container.container_page-1
        .content.content__left
            .page-1__text
                .page-1__date с 2 по 29 декабря 2019
                h3.title
                    b.uppercase Купи любые 2 товара

                .page-1__products
                    img(src='img/page1/logos.png')

        .content.content__right
            .page-1__raffle
                h3.title Купи с выгодой!
                .products__img
                    img(src="img/page1/products.png", alt="")
