section#prizes.page.page-1.js-page
    .container.container_page-1
        .content.content__left
            .page-1__date с 2 по 29 декабря 2019
            h3.title
                | Купи
                |
                b любые
                |
                |2&nbsp;товара

            .page-1__products
                img(src='img/page1/logos.png')
            .page-1__text
                | Каждую субботу и воскресенье
                br
                | участвуй в розыгрыше
            .page-1__amount
                | 50 000
                |
                span рублей
            a(href='#register').button.button.js-scroll-link Зарегистрировать код

        .content.content__right
            .page-1__raffle
                h3.title Купи с выгодой!
                .products__img
                    img(src="img/page1/products.png", alt="")
